.App {
  display: flex; /*scroll horizontally*/
  flex-wrap: wrap; /*displays up to the width of screen then goes to next line*/
  align-items: center; /*space vertically*/
  justify-content: space-around; /*space horizontally*/
}
/*
h1{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}*/

.movieContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieContainer > h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 200px;
}